@font-face {
    font-family: "SansterdamScript";
    src: url('./static/sansterdam-script.ttf');
}

.communicative {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

.course-cover {
    width: 100%;
    aspect-ratio: 8 / 1;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

@media screen and (max-width: 750px) {
    .course-cover {
        aspect-ratio: 4 / 1;
    }
}

.course-overlay {
    width: 100%;
    min-height: 100vh;
}

.course-overview {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #9b9bcd;
    border-radius: 20px;
    box-shadow: 5px 5px #888888;
}

.course-previews {
    /* background-image: linear-gradient(#57adac, #9b9bcd); */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50vh;
    overflow: hidden;
    
}

.course-previews .preview {
    margin: auto;
    object-fit: contain;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.course-previews .preview:hover {
    transform: scale(1.05);
}

.course-outcomes {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
    .course-outcomes {
        flex-direction: column;
    }
}

.course-outcomes .outcome {
    min-height: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
    flex-basis: 50%;
    flex-grow: 1;
}

.course-title {
    width: 50%;
    height: 100%;
    padding: 1em 1em 1em 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}