.header {
    background-image: url(./static/cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    padding: 1em 1em 1em 1em;
}
.content {
    background-image: url(./static/tree-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}