.overview {
    width: 100%;
    height: 100%;   
}

.course-type {
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: all 0.3s ease-out
}

.course-type:hover {
    filter: brightness(80%);
}

.content {
    width: 100%;
    height: 100%;
    display: grid;
}

.content-courses {
    width: 100%;
    height: 100%;
    display: flex;
}

@keyframes opacityChange {
    0% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

.course-card {
    animation: 0.8s ease-out 0s 1 opacityChange;
    flex-basis: 500px;
    height: 100%;
}
