.courses {
    background-image: url(./static/tree-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1em 1em 1em 1em;
    width: 100%;

    display: flex;
    flex-direction: column;
    min-height: 100%;
    
}

.content {
    width: 100%;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content-courses {
    width: 80%;
    padding: 1em 2em 1em 2em;
    
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
    justify-content: space-around;
    align-items: center;
}

@keyframes opacityChange {
    0% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

.course-card {
    animation: 0.8s ease-out 0s 1 opacityChange;
    flex-basis: 500px;
    height: 100%;
}
