.loading-screen-layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-screen {
    max-width: 1200px;
    aspect-ratio: 1/1;
    max-width: 300px;
    width: 50%;
    
    transition: all 0.4s ease;
}

.loading-screen-image {
    width: 100%;
    object-fit: contain;
    
    opacity: 0.8;
    animation-name: grow;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



@keyframes grow {
    8% {
        content: url(./static/loadingscreen2.png);
    }
    16% {
        content: url(./static/loadingscreen3.png);
    }
    24% {
        content: url(./static/loadingscreen4.png);
    }
    32% {
        content: url(./static/loadingscreen5.png);
    }
    40% {
        content: url(./static/loadingscreen6.png);
    }
    48% {
        content: url(./static/loadingscreen7.png);
    }
    56% {
        content: url(./static/loadingscreen8.png);
    }
    64% {
        content: url(./static/loadingscreen9.png);
    }
    72% {
        content: url(./static/loadingscreen10.png);
    }
    80% {
        content: url(./static/loadingscreen11.png);
    }
    88% {
        content: url(./static/loadingscreen12.png);
    }
    100% {
        content: url(./static/loadingscreen13.png);
    }
}