@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.menu {
    background-color: var(--triadic);
    animation: 0.8s ease-out 0s 1 slideInFromLeft;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 1em 1em 1em 1em;
    z-index: 1;
    height: 10vh;
    min-height: 10vh;
    max-height: 10vh;
}

.menu-buttons {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 900px;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.menu-item {
  flex-grow: 1;
}