.not-found {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.text {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}