.menus {
    background-image: url(./static/tree-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    height: 100%;
}
.menu-card {
    width: 35%;
    opacity: 1;
    transition: all 300ms ease-out;
}
.menu-card:hover {
    opacity: 0.8;
}

@media screen and (max-width: 760px) {
    .menus {
        flex-direction: column;
    }

    .menu-card {
        width: 65%;
        height: auto;
        margin-top: 1em;
    }
}