@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.menu {
    animation: 0.8s ease-out 0s 1 slideInFromLeft;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.menu-group {
    display: flex;
    width: 100%;
    gap: 1em;
}

.menu-item {
    
}