.about {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    align-items: stretch;
    overflow-x: hidden;
    overflow-y: inherit;
}

.welcome {
    position: relative;

    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.welcome-picture {
    width: 100%;
    height: 100%;
    object-fit: contain;
    left: 0;
    top: 0;
}

.menu {
    margin: 1em 1em 1em 1em
}

.introduction {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5vh 1em 5vh 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.introduction-background {
    border-radius: 15px;
    position: absolute;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    opacity: 1;
    filter: blur(5px);
}

.description {
    display: flex;
    flex-direction: column;
}

.profiles {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
}
.avatars-layout {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}

@media screen and (max-width: 900px) {
    .profile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


.avatars-layout-background {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
    filter: blur(8px);
}

.profile {
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.profile img {
    max-width: 300px;
    border-radius: 50%;
}

.profile-description-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.profile-description {
    position: relative;
}

.profile-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-qualification-layout {
    display: flex;
    align-items: center;
    justify-content: center;
}


.avatar img {
    
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}
