.communicative {
    background-color: var(--light-green);
    display: flex;
    flex: 1 1 auto;
    gap: 1em;
}

.covers {
    /* display: flex; */
    flex: 1 1 auto;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1em;
    overflow-y: auto;
    transition: all 0.2s ease-out;
}

.course-cover {
    height: 48%;
    flex-basis: 48%;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s ease-out;
}

@media screen and (max-width: 750px) {
    .course-cover {
        flex-basis: 90%;
    }
    .covers {
        align-content: flex-start;
    }
}

.cover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover img {
    z-index: -1;
    width: 100%;
    
    position: absolute;
}

.cover:hover {
    filter: brightness(90%);
    transform: scale(1.03);
}