.about {
    width: 100%;
    min-height: 100%;
    
    display: flex;
    flex-direction: column;
    background-color: #9bcd9b;
    align-items: stretch;
}

.menu {
    margin: 1em 1em 1em 1em
}

.avatar-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.avatars {
    gap: 1em;
    display: flex;
    justify-content: space-around;
    width: 100%;
    
    flex-wrap: wrap;
}