.register {
    min-height: 100vh;
    height: 100vh;
    background-color: var(--light-green);    
    display: flex;
    flex-direction: column;
}

.register-button {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 400px;
    width: 80vw;
    aspect-ratio: 1/1;
    cursor: pointer;
    background-image: url(./static/registerbutton1.png);
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.4s ease;
    opacity: 0.8;

}

.register-button:hover {
    opacity: 1;
    animation-duration: 0.4s;
    animation-name: grow;
    animation-fill-mode: forwards;
}

@keyframes grow {
    0% {
        background-image: url(./static/registerbutton2.png);
    }

    20% {
        background-image: url(./static/registerbutton3.png);
    }

    40% {
        background-image: url(./static/registerbutton4.png);
    }

    60% {
        background-image: url(./static/registerbutton5.png);
    }

    80% {
        background-image: url(./static/registerbutton6.png);
    }

    100% {
        background-image: url(./static/registerbutton7.png);
    }
}