.register {
    min-height: 100vh;
    height: 100vh;
    background-color: var(--light-green);    
    display: flex;
    flex-direction: column;
}

.register-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 400px;
    width: 80vw;
    aspect-ratio: 1/1;
    cursor: pointer;

    transition: all 0.4s ease;
    opacity: 0.8;

}

.register-button img {
    position: absolute;
    width: 100%;
    transition: all 0.4s ease;
    z-index: -1;
}

/* .register-button-animation img:hover {
    opacity: 1;
    animation-duration: 0.4s;
    animation-name: grow;
    animation-fill-mode: forwards;
} */

/* @keyframes grow {
    0% {
        content: url(./static/registerbutton2.png);
    }

    20% {
        content: url(./static/registerbutton3.png);
    }

    40% {
        content: url(./static/registerbutton4.png);
    }

    60% {
        content: url(./static/registerbutton5.png);
    }

    80% {
        content: url(./static/registerbutton6.png);
    }

    100% {
        content: url(./static/registerbutton7.png);
    }
} */