.loading-screen-layout {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    
    justify-content: center;
    align-items: center;
}
.loading-screen-image {
    width: 100%;
    aspect-ratio: 1/1;
    max-width: 300px;
    object-fit: contain;  
    opacity: 0.8;
}