.footer {
    z-index: 1;
    background-color: var(--triadic);
    margin-top: auto;
    display: flex;
    clear: both;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.social-media-item {
    cursor: pointer;
    width: 8vw;
    max-width: 40px;
    aspect-ratio: 1/1;
    object-fit: contain;
    z-index: 1;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.address {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-number {
    display: flex;
    flex-direction: column !important; 
    justify-content: center;
    align-items: center;
}