@font-face {
  font-family: "SansterdamScript";
  src: url('./static/fonts/sansterdam-script.ttf');
}

@font-face {
  font-family: "Sriracha";
  src: url('./static/fonts/Sriracha-Regular.ttf');
}

@font-face {
  font-family: "Quicksand";
  src: url('./static/fonts/Quicksand-VariableFont_wght.ttf');
}

@font-face {
  font-family: "DancingScript";
  src: url('./static/fonts/DancingScript-VariableFont_wght.ttf');
}

:root {
  --primary: #a9e19d;
  --secondary: #ccfbfb;
  --complementary: #4f5758;
  --triadic: #f3f4fc;
}


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

#root {
  height: 100%;
  width: 100%;
}

* {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}