.preview {
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.preview:hover {
    transform: scale(1.05);
}

.image-backdrop {
    width: 80%;
    height: 80%;
    object-fit: contain;
    
}